# Data Initialization

### Create synthetic e-commerce data

In [5]:
import litellm
import pandas as pd
import numpy as np
import dotenv
from io import StringIO
import csv

dotenv.load_dotenv()

True

## Schema

E-commerce database with the following tables:

### Table: products
- product_id: int, PRIMARY KEY, unique product identifier
- product_brand: str, brand name
- product_name: str, product name
- product_description: str, product description
- product_price: float, product price
- product_category: str, main category
- product_subcategory: str, subcategory

### Table: customers
- customer_id: int, PRIMARY KEY, unique customer identifier
- customer_city: str, customer's city
- customer_state: str, customer's state/province
- customer_zip: str, customer's zip code
- customer_country: str, customer's country
- customer_gender: str, customer's gender
- customer_age: int, customer's age
- customer_class_quartile: str, customer's class quartile
- customer_description: str, customer's description

### Table: orders
- order_id: int, part of COMPOSITE PRIMARY KEY, unique order identifier
- order_seq_nbr: int, part of COMPOSITE PRIMARY KEY, sequence number for the order
- customer_id: int, FOREIGN KEY to customers.customer_id
- product_id: int, FOREIGN KEY to products.product_id
- order_date: date, date of the order
- COMPOSITE PRIMARY KEY: (order_id, order_seq_nbr)

## Products dataset generation

In [80]:
# Experiment with a few data points before scaling up
rows = 30
prompt = f'''
Create a synthetic e-commerce products dataset in csv format with {rows} rows.
There's only 3 categories: "Clothing", "Drinks", "Electronics".
There's only 3 subcategories:
"Clothing": "T-shirts", "Pants", "Shoes"
"Drinks": "Soda", "Beer", "Water"
"Electronics": "Laptop", "Smartphone", "Headphones"

Only 3 brands exist.
"Luxor" is the luxury brand. Should be expensive.
"Hermanos" is the middle brand. Should be in the middle of the price range.
"Daily Value" is the budget brand. Should be cheap.

The dataset should include the following columns:
product_id, product_brand, product_name, product_description, product_price, product_category, product_subcategory

Each product should be unique, and should be an actual specific product.
Apple Macbook Pro is not a valid product because it's a generic product.
Only include the csv data in the response with no backticks or other formatting.
'''.strip()
response = litellm.completion(
    model="gpt-4o-mini",
    messages=[{
        "role": "user",
        "content": prompt
    }]
)

print(response['choices'][0]['message']['content'])

product_id,product_brand,product_name,product_description,product_price,product_category,product_subcategory
1,Luxor,Luxor Premium T-Shirt,High-quality cotton T-shirt with elegant design,49.99,Clothing,T-shirts
2,Luxor,Luxor Luxe Pants,Stylish tailored pants crafted from fine materials,129.99,Clothing,Pants
3,Luxor,Luxor Designer Shoes,Handcrafted leather shoes for formal occasions,199.99,Clothing,Shoes
4,Hermanos,Hermanos Classic T-Shirt,Comfortable and stylish T-shirt for everyday wear,24.99,Clothing,T-shirts
5,Hermanos,Hermanos Casual Pants,Durable pants suited for casual outings,49.99,Clothing,Pants
6,Hermanos,Hermanos Trendy Sneakers,Versatile sneakers great for multiple activities,69.99,Clothing,Shoes
7,Daily Value,Daily Value Basic T-Shirt,Affordable basic T-shirt for all occasions,9.99,Clothing,T-shirts
8,Daily Value,Daily Value Simple Pants,Functional pants at a budget price,19.99,Clothing,Pants
9,Daily Value,Daily Value Low-Cost Sneakers,Practical sneakers that donâ€™t break the bank,29.99,Clothing,Shoes
10,Luxor,Luxor Sparkling Water,Premium sparkling water sourced from the Alps,3.99,Drinks,Water
11,Luxor,Luxor Craft Beer,Exclusive craft beer with unique flavors,12.99,Drinks,Beer
12,Luxor,Luxor Gourmet Soda,Artisan soda with a selection of natural ingredients,5.99,Drinks,Soda
13,Hermanos,Hermanos Refreshing Soda,Popular soda with classic flavors,1.99,Drinks,Soda
14,Hermanos,Hermanos Craft Beer,Well-balanced beer with rich taste,7.99,Drinks,Beer
15,Hermanos,Hermanos Bottled Water,Conveniently packaged drinking water,1.29,Drinks,Water
16,Daily Value,Daily Value Cola,Affordable cola beverage,0.99,Drinks,Soda
17,Daily Value,Daily Value Beer,Inexpensive beer option for casual gatherings,4.99,Drinks,Beer
18,Daily Value,Daily Value Purified Water,Budget-friendly bottled water,0.79,Drinks,Water
19,Luxor,Luxor Gaming Laptop,High-performance gaming laptop with top specs,1999.99,Electronics,Laptop
20,Luxor,Luxor Ultra Smartphone,Feature-rich smartphone with cutting-edge technology,999.99,Electronics,Smartphone
21,Luxor,Luxor Noise-Canceling Headphones,Premium headphones with superior sound quality,299.99,Electronics,Headphones
22,Hermanos,Hermanos Work Laptop,Laptop suitable for everyday tasks and multimedia,799.99,Electronics,Laptop
23,Hermanos,Hermanos Smart Smartphone,Smartphone with great performance at a reasonable price,499.99,Electronics,Smartphone
24,Hermanos,Hermanos Wireless Headphones,Comfortable headphones for music lovers,129.99,Electronics,Headphones
25,Daily Value,Daily Value Basic Laptop,Affordable laptop for basic computer use,349.99,Electronics,Laptop
26,Daily Value,Daily Value Budget Smartphone,Economic smartphone with necessary features,199.99,Electronics,Smartphone
27,Daily Value,Daily Value Basic Headphones,Simple headphones for everyday use,29.99,Electronics,Headphones
28,Luxor,Luxor Elegant Dress Shirt,Exquisite dress shirt perfect for formal events,89.99,Clothing,T-shirts
29,Hermanos,Hermanos Stylish Jacket,Versatile jacket ideal for various seasons,79.99,Clothing,Pants
30,Daily Value,Daily Value Fleece Hoodie,Cozy fleece hoodie for casual wear,24.99,Clothing,Shoes

In [81]:
def parse_llm_csv_response(response):
    """Parse CSV response from LLM and return DataFrame with comma handling"""
    try:
        content = response['choices'][0]['message']['content']
        
        # Handle different CSV formats the LLM might return
        if '```csv' in content:
            # Extract CSV from markdown code block
            start = content.find('```csv') + 6
            end = content.find('```', start)
            csv_data = content[start:end].strip()
        elif '```' in content:
            # Extract CSV from regular code block
            start = content.find('```') + 3
            end = content.find('```', start)
            csv_data = content[start:end].strip()
        else:
            # Assume it's raw CSV
            csv_data = content.strip()
        
        # Step 1: Read lines manually
        lines = csv_data.strip().split('\n')
        header = lines[0]
        rows = lines[1:]
        
        # Step 2: Fix comma issues in data (especially in text fields)
        fixed_lines = [header]
        for line in rows:
            cols = line.split(',')
            if len(cols) > 7:  # extra commas breaking the row
                # Try to merge all fields between product_name and product_price
                fixed_row = cols[:3]  # first 3 columns
                # merge product_description (might have commas)
                description_fields = cols[3:len(cols)-3]
                description = ','.join(description_fields).strip()
                if not (description.startswith('"') and description.endswith('"')):
                    description = f'"{description}"'
                fixed_row.append(description)
                fixed_row.extend(cols[-3:])  # last 3 columns
            else:
                fixed_row = cols
            fixed_lines.append(','.join(fixed_row))
        
        # Step 3: Load into pandas
        clean_csv = '\n'.join(fixed_lines)
        return pd.read_csv(StringIO(clean_csv))
    
    except Exception as e:
        print(f"Failed to parse CSV response: {e}")
        print(f"Raw content: {content}")
        return None

In [82]:
df = parse_llm_csv_response(response)
print(f"Number of rows: {len(df.index)}")
df.head(5)

Number of rows: 30

,product_id,product_brand,product_name,product_description,product_price,product_category,product_subcategory
0,1,Luxor,Luxor Premium T-Shirt,High-quality cotton T-shirt with elegant design,49.99,Clothing,T-shirts
1,2,Luxor,Luxor Luxe Pants,Stylish tailored pants crafted from fine mater...,129.99,Clothing,Pants
2,3,Luxor,Luxor Designer Shoes,Handcrafted leather shoes for formal occasions,199.99,Clothing,Shoes
3,4,Hermanos,Hermanos Classic T-Shirt,Comfortable and stylish T-shirt for everyday wear,24.99,Clothing,T-shirts
4,5,Hermanos,Hermanos Casual Pants,Durable pants suited for casual outings,49.99,Clothing,Pants

In [ ]:
df.to_csv("../data/products.csv", index=False)

## Customers dataset generation

In [50]:
# Experiment with a few data points before scaling up
rows = 100
prompt = f'''
Create a synthetic e-commerce customers dataset in csv format with {rows} rows.

The dataset should include the following columns:
customer_id, customer_city, customer_state, customer_zip, customer_country, customer_gender, customer_age, customer_class_quartile, customer_description

The customer_class_quartile should be one of the following: "Bottom 25%", "Lower Middle 25-50% ", "Upper Middle 50-75%", "Top 25%".
The customer_gender should be one of the following: "Male", "Female", "Other".
The customer_age should be an integer between 18 and 85.

These customers are from the United States in California, New York, and Florida.
Their cities and zip codes should be realistic.
The customer_description should be a short realistic description of the customer.

Each customer should be unique, and should be an actual specific customer.
Only include the csv data in the response with no backticks or other formatting.
'''.strip()
response = litellm.completion(
    model="gpt-4o-mini",
    messages=[{
        "role": "user",
        "content": prompt
    }]
)

print(response['choices'][0]['message']['content'])

customer_id,customer_city,customer_state,customer_zip,customer_country,customer_gender,customer_age,customer_class_quartile,customer_description
1,Los Angeles,CA,90001,USA,Female,34,Upper Middle 50-75%,"Marketing Manager living in LA, enjoys outdoor activities."
2,New York,NY,10001,USA,Male,45,Top 25%,"Finance executive from NYC, loves gourmet food and travel."
3,Miami,FL,33101,USA,Female,29,Lower Middle 25-50%,"Blogger based in Miami, passionate about fashion and beauty."
4,San Francisco,CA,94101,USA,Other,26,Upper Middle 50-75%,"Tech startup founder, into innovation and design."
5,Brooklyn,NY,11201,USA,Male,38,Top 25%,"Art curator in Brooklyn, enjoys visiting galleries and music festivals."
6,Orlando,FL,32801,USA,Female,22,Bottom 25%,"Student at UCF, loves theme parks and social media."
7,San Diego,CA,92101,USA,Female,39,Upper Middle 50-75%,"HR consultant based in SD, enjoys yoga and healthy living."
8,Queens,NY,11368,USA,Male,31,Lower Middle 25-50%,"Delivery driver in Queens, tries to balance work and personal life."
9,Tampa,FL,33601,USA,Other,44,Top 25%,"Real estate developer, enjoys sailing and community service."
10,Los Angeles,CA,90002,USA,Male,27,Bottom 25%,"Graphic designer from LA, loves street art and photography."
11,San Jose,CA,95101,USA,Female,48,Upper Middle 50-75%,"Software engineer in Silicon Valley, passionate about AI."
12,Manhattan,NY,10010,USA,Female,33,Lower Middle 25-50%,"Freelance writer living in Manhattan, enjoys coffee culture."
13,Fort Lauderdale,FL,33301,USA,Male,36,Top 25%,"Business analyst, passionate about sports and fitness."
14,Sacramento,CA,95814,USA,Female,25,Upper Middle 50-75%,"Entrepreneur in Sacramento, loves hiking and traveling."
15,St. Petersburg,FL,33701,USA,Male,52,Lower Middle 25-50%,"Retired veteran, enjoys volunteering and fishing."
16,Long Beach,CA,90801,USA,Other,31,Bottom 25%,"Bartender in Long Beach, loves music and parties."
17,Rochester,NY,14601,USA,Female,57,Top 25%,"Higher education professor, enjoys reading and gardening."
18,Chula Vista,CA,91910,USA,Male,43,Bottom 25%,"Construction worker, family-oriented with a love for BBQ."
19,Buffalo,NY,14201,USA,Female,29,Lower Middle 25-50%,"Nurse living in Buffalo, loves pets and jogging."
20,Hialeah,FL,33010,USA,Other,24,Upper Middle 50-75%,"Graphic artist, enjoys drawing and cultural festivals."
21,Los Angeles,CA,90003,USA,Male,30,Upper Middle 50-75%,"Sales manager, enthusiastic about personal finance."
22,Brooklyn,NY,11215,USA,Female,37,Top 25%,"Fashion designer, passionate about sustainability in fashion."
23,Miami,FL,33102,USA,Other,41,Bottom 25%,"Taxi driver, enjoys music and family gatherings."
24,San Diego,CA,92102,USA,Male,53,Lower Middle 25-50%,"School teacher, loves cooking and history."
25,Tallahassee,FL,32301,USA,Female,28,Upper Middle 50-75%,"PhD student, research-focused and passionate about science."
26,Santa Ana,CA,92701,USA,Male,39,Top 25%,"Building contractor, hobbies include woodworking."
27,Albany,NY,12201,USA,Female,45,Lower Middle 25-50%,"Social worker, enjoys community advocacy."
28,Fort Myers,FL,33901,USA,Female,35,Upper Middle 50-75%,"Entrepreneur, enjoys travel and wellness."
29,Redwood City,CA,94061,USA,Male,29,Bottom 25%,"IT technician, loves gaming and gadgets."
30,Quito,CA,94063,USA,Other,32,Top 25%,"Digital marketer focused on social media strategies."
31,Los Angeles,CA,90004,USA,Male,27,Lower Middle 25-50%,"Barista, passionate about coffee and art."
32,New York,NY,10011,USA,Female,55,Upper Middle 50-75%,"Corporate lawyer, enjoys traveling and fine dining."
33,Santa Monica,CA,90401,USA,Male,29,Bottom 25%,"Sales associate, enjoys sports and outdoor activities."
34,Miami,FL,33103,USA,Female,46,Top 25%,"Executive coach with a love for travel."
35,San Francisco,CA,94102,USA,Other,39,Upper Middle 50-75%,"Web developer, enjoys coding and hiking."
36,Staten Island,NY,10301,USA,Female,34,Bottom 25%,"Real estate agent, enjoys the city life."
37,Coral Gables,FL,33134,USA,Male,28,Lower Middle 25-50%,"Restaurant manager, loves culinary experiences."
38,Los Angeles,CA,90005,USA,Male,42,Top 25%,"Director of operations, enjoys fitness and travel."
39,Miami Beach,FL,33139,USA,Female,24,Upper Middle 50-75%,"Content creator, loves fashion and arts."
40,Bay Area,CA,94001,USA,Male,36,Lower Middle 25-50%,"Account manager, enjoys sports and music."
41,Buffalo,NY,14202,USA,Female,45,Top 25%,"Marketing director, loves gardening."
42,Fresno,CA,93701,USA,Male,29,Upper Middle 50-75%,"Freelance photographer, enjoys nature."
43,Boca Raton,FL,33431,USA,Female,50,Bottom 25%,"Therapist, loves art and creativity."
44,Sacramento,CA,95816,USA,Other,33,Lower Middle 25-50%,"Data analyst, enjoys hiking and nature photography."
45,Newark,NY,07101,USA,Male,41,Top 25%,"IT consultant, enjoys technology and innovation."
46,Long Beach,CA,90802,USA,Female,31,Bottom 25%,"Office administrator, enjoys crafting."
47,Jacksonville,FL,32201,USA,Male,49,Upper Middle 50-75%,"Construction manager, loves fishing and boating."
48,Los Angeles,CA,90006,USA,Female,38,Top 25%,"Nutritionist, enthusiastic about health and fitness."
49,New York,NY,10012,USA,Male,22,Bottom 25%,"Barber, enjoys hip-hop music."
50,Miami,FL,33104,USA,Other,55,Upper Middle 50-75%,"Doctor, enjoys traveling and philanthropy."
51,Fresno,CA,93702,USA,Male,34,Bottom 25%,"Retail worker, loves family events."
52,Orlando,FL,32802,USA,Female,45,Lower Middle 25-50%,"Teacher, enjoys reading and family time."
53,Brooklyn,NY,11238,USA,Other,48,Top 25%,"Choreographer, enjoys dance and music."
54,Los Angeles,CA,90007,USA,Male,40,Upper Middle 50-75%,"Financial analyst, enjoys cycling."
55,Clermont,FL,34711,USA,Female,26,Bottom 25%,"Pet groomer, loves animals."
56,San Jose,CA,95112,USA,Male,35,Bottom 25%,"Software tester, enjoys chess."
57,Sunrise,FL,33322,USA,Other,29,Upper Middle 50-75%,"Graphic designer, loves photography."
58,New York,NY,10013,USA,Female,60,Top 25%,"Retired nurse, enjoys volunteering."
59,Daytona Beach,FL,32114,USA,Male,27,Bottom 25%,"Student, enjoys surfing and parties."
60,Los Angeles,CA,90008,USA,Female,53,Bottom 25%,"Market researcher, loves community involvement."
61,San Francisco,CA,94103,USA,Male,32,Upper Middle 50-75%,"Architect, enjoys art and design."
62,Miami,FL,33105,USA,Female,34,Lower Middle 25-50%,"Real estate agent, loves architecture."
63,Queens,NY,11375,USA,Other,41,Top 25%,"Fitness instructor, loves enhancing health awareness."
64,Las Vegas,CA,89101,USA,Male,22,Bottom 25%,"Hospitality worker, passionate about customer service."
65,Jacksonville,FL,32217,USA,Female,46,Upper Middle 50-75%,"Sales director, loves mentoring others."
66,New York,NY,10016,USA,Male,50,Lower Middle 25-50%,"Corporate trainer, enjoys reading."
67,Tampa,FL,33602,USA,Female,37,Top 25%,"Nonprofit director, loves community service."
68,San Diego,CA,92104,USA,Male,25,Upper Middle 50-75%,"IT support, passionate about technology."
69,Miami,FL,33106,USA,Female,54,Bottom 25%,"Writer, enjoys storytelling and fiction."
70,Los Angeles,CA,90009,USA,Male,29,Bottom 25%,"Uber driver, enjoys music."
71,Brooklyn,NY,11206,USA,Other,36,Upper Middle 50-75%,"Consultant, interested in sustainability."
72,Fort Lauderdale,FL,33312,USA,Female,30,Top 25%,"Event planner, loves creativity and organization."
73,Sacramento,CA,95811,USA,Male,27,Lower Middle 25-50%,"Restaurant worker, loves cooking."
74,Orlando,FL,32803,USA,Female,43,Top 25%,"Healthcare professional, enjoys fitness and wellness."
75,Las Vegas,CA,89102,USA,Male,48,Lower Middle 25-50%,"Retail manager, loves gaming."
76,Los Angeles,CA,90010,USA,Female,31,Bottom 25%,"Freelance designer, enjoys fashion."
77,Houston,TX,77001,USA,Male,42,Upper Middle 50-75%,"Senior product manager, enjoys writing."
78,Tampa,FL,33603,USA,Female,29,Top 25%,"Social media manager, follows vibrant trends."
79,St. Petersburg,FL,33702,USA,Male,23,Bottom 25%,"Graphic designer, loves art and tech."
80,Santa Ana,CA,92702,USA,Other,38,Lower Middle 25-50%,"Bookkeeper, enjoys puzzles."
81,New York,NY,10014,USA,Female,59,Top 25%,"Retired lawyer, enjoys community service."
82,San Francisco,CA,94105,USA,Male,39,Upper Middle 50-75%,"Venture capitalist, enjoys startups."
83,Fort Lauderdale,FL,33303,USA,Female,41,Bottom 25%,"IT project manager, loves technology."
84,Los Angeles,CA,90011,USA,Other,28,Lower Middle 25-50%,"Barista, enjoys live music."
85,Gainesville,FL,32601,USA,Female,34,Upper Middle 50-75%,"Research scientist, enjoys outdoor activities."
86,Miami,FL,33107,USA,Male,45,Top 25%,"Nurse practitioner, loves community health."
87,Brooklyn,NY,11236,USA,Other,49,Bottom 25%,"Warehouse operator, loves sports."
88,Sacramento,CA,95815,USA,Male,39,Upper Middle 50-75%,"Digital marketing specialist, loves photography."
89,Jacksonville,FL,32202,USA,Female,36,Top 25%,"Web designer, enjoys traveling."
90,Los Angeles,CA,90012,USA,Male,25,Lower Middle 25-50%,"Food truck operator, loves cooking outdoors."
91,Orlando,FL,32808,USA,Female,31,Top 25%,"HR manager, enjoys volunteer work."
92,Coral Gables,FL,33146,USA,Male,42,Bottom 25%,"Financial planner, loves family trips."
93,San Diego,CA,92103,USA,Female,28,Lower Middle 25-50%,"Bartender, loves music and nightlife."
94,Fort Myers,FL,33905,USA,Male,34,Upper Middle 50-75%,"Software engineer, enjoys coding."
95,Newark,NY,07102,USA,Other,30,Top 25%,"Marketing specialist, enjoys events."
96,Wilmington,FL,28401,USA,Female,38,Bottom 25%,"Graphic designer, loves art."
97,Los Angeles,CA,90013,USA,Male,44,Lower Middle 25-50%,"Data entry clerk, enjoys puzzle games."
98,Miami Beach,FL,33140,USA,Female,26,Top 25%,"Fashion consultant, loves shopping."
99,San Francisco,CA,94107,USA,Male,33,Upper Middle 50-75%,"Business owner, enjoys networking."
100,Tampa,FL,33606,USA,Female,40,Bottom 25%,"Nonprofit worker, enjoys social issues."

In [54]:
import csv

def parse_llm_csv_response2(response):
    """Parse CSV response from LLM with misquoted fields and return a clean DataFrame."""
    try:
        content = response['choices'][0]['message']['content']

        # Step 1: Extract CSV content
        if '```csv' in content:
            start = content.find('```csv') + 6
            end = content.find('```', start)
            csv_data = content[start:end].strip()
        elif '```' in content:
            start = content.find('```') + 3
            end = content.find('```', start)
            csv_data = content[start:end].strip()
        else:
            csv_data = content.strip()

        # Step 2: Normalize using CSV reader with intelligent parsing
        reader = csv.reader(StringIO(csv_data), skipinitialspace=True)
        rows = list(reader)
        expected_col_count = len(rows[0])
        fixed_rows = [rows[0]]  # header

        for row in rows[1:]:
            if len(row) == expected_col_count:
                fixed_rows.append(row)
            else:
                # Use csv.reader to attempt parsing again with quoting=csv.QUOTE_MINIMAL
                # fallback: rebuild line and re-parse with stricter rules
                joined_line = ','.join(row)
                try:
                    parsed_row = next(csv.reader([joined_line], quotechar='"', skipinitialspace=True))
                    if len(parsed_row) == expected_col_count:
                        fixed_rows.append(parsed_row)
                    else:
                        raise ValueError("Unfixable row")
                except:
                    print(f"Skipping malformed row: {row}")

        # Step 3: Convert to CSV string then DataFrame
        output = StringIO()
        writer = csv.writer(output)
        writer.writerows(fixed_rows)
        output.seek(0)
        return pd.read_csv(output)

    except Exception as e:
        print(f"Failed to parse CSV response: {e}")
        print(f"Raw content: {content[:1000]}...")  # avoid dumping everything
        return None

In [55]:
df = parse_llm_csv_response(response)
print(f"Number of rows: {len(df.index)}")
df.head(5)

Number of rows: 100

,customer_id,customer_city,customer_state,customer_zip,customer_country,customer_gender,customer_age,customer_class_quartile,customer_description
0,1,Los Angeles,CA,90001,USA,Female,34,Upper Middle 50-75%,"Marketing Manager living in LA, enjoys outdoor..."
1,2,New York,NY,10001,USA,Male,45,Top 25%,"Finance executive from NYC, loves gourmet food..."
2,3,Miami,FL,33101,USA,Female,29,Lower Middle 25-50%,"Blogger based in Miami, passionate about fashi..."
3,4,San Francisco,CA,94101,USA,Other,26,Upper Middle 50-75%,"Tech startup founder, into innovation and design."
4,5,Brooklyn,NY,11201,USA,Male,38,Top 25%,"Art curator in Brooklyn, enjoys visiting galle..."

In [56]:
df.to_csv("../data/customers.csv", index=False)

## Orders dataset generation

In [74]:
# Experiment with a few data points before scaling up
rows = 2000
customers_df = pd.read_csv("../data/customers.csv")
products_df = pd.read_csv("../data/products.csv")

prompt = f'''
customers dataset:
{customers_df}
---
products dataset:
{products_df}
---
Create a synthetic e-commerce orders dataset in csv format with {rows} rows.

The dataset should include the following columns:
order_id, order_seq_nbr, customer_id, product_id, order_date

The order_id should be a unique identifier for the order.
The order_seq_nbr should be a sequential number for the order based on the product data if there are multiple products in the order.
The customer_id should be the customer_id for the customer from the customers dataset.
The product_id should be the product_id for the product from the products dataset.
The order_date should be a date in the past 3 years.

Each order should be unique, and should be an actual specific order.
Use the customer information to create a realistic order.
Only include the csv data in the response with no backticks or other formatting.
'''.strip()
response = litellm.completion(
    model="gpt-4o-mini",
    messages=[{
        "role": "user",
        "content": prompt
    }]
)

print(response['choices'][0]['message']['content'])

order_id,order_seq_nbr,customer_id,product_id,order_date
1,1,1,3,2021-10-12
1,2,1,9,2021-10-12
2,1,2,1,2021-11-22
3,1,3,24,2021-12-05
4,1,4,6,2021-09-15
4,2,4,21,2021-09-15
5,1,5,10,2021-08-30
6,1,6,15,2021-07-19
6,2,6,8,2021-07-19
7,1,7,4,2022-01-10
8,1,8,29,2022-02-14
9,1,9,19,2022-03-11
10,1,10,11,2022-04-22
10,2,10,20,2022-04-22
11,1,11,18,2022-05-26
12,1,12,27,2022-06-17
13,1,13,5,2022-07-08
14,1,14,16,2022-08-02
15,1,15,12,2022-09-25
16,1,16,25,2022-10-09
17,1,17,26,2022-11-01
18,1,18,2,2023-01-15
19,1,19,7,2023-02-08
19,2,19,14,2023-02-08
20,1,20,30,2023-03-30
21,1,21,24,2023-04-12
22,1,22,15,2023-05-15
22,2,22,3,2023-05-15
23,1,23,13,2023-06-18
24,1,24,1,2023-07-04
24,2,24,9,2023-07-04
25,1,25,6,2023-08-22
26,1,26,23,2023-09-10
27,1,27,2,2021-05-30
28,1,28,8,2022-08-29
29,1,29,22,2022-09-15
30,1,30,3,2021-10-01
30,2,30,14,2021-10-01
31,1,31,28,2022-12-30
32,1,32,16,2023-01-12
33,1,33,10,2023-02-24
34,1,34,4,2021-07-20
35,1,35,5,2021-06-16
36,1,36,19,2022-03-18
37,1,37,12,2022-04-07
38,1,38,4,2022-11-07
39,1,39,29,2022-12-03
40,1,40,24,2023-01-11
41,1,41,27,2023-02-25
42,1,42,13,2023-03-15
42,2,42,22,2023-03-15
43,1,43,30,2021-09-29
44,1,44,8,2023-04-18
45,1,45,21,2023-05-06
46,1,46,1,2023-05-12
47,1,47,7,2022-07-17
48,1,48,26,2023-01-03
49,1,49,11,2023-08-14
50,1,50,18,2023-09-02
51,1,51,2,2021-12-31
52,1,52,19,2022-03-13
53,1,53,14,2022-11-16
54,1,54,6,2022-05-07
55,1,55,21,2022-06-09
56,1,56,12,2021-05-17
57,1,57,8,2022-07-22
58,1,58,27,2022-08-27
59,1,59,20,2022-09-11
60,1,60,23,2022-10-01
61,1,61,5,2022-11-25
62,1,62,9,2023-06-23
63,1,63,18,2023-07-18
64,1,64,6,2023-03-09
65,1,65,27,2023-05-29
66,1,66,14,2023-06-05
67,1,67,4,2023-08-02
68,1,68,1,2022-01-23
69,1,69,25,2022-02-10
70,1,70,11,2023-07-16
71,1,71,15,2023-08-18
72,1,72,30,2023-09-04
73,1,73,2,2023-03-17
74,1,74,29,2023-01-24
75,1,75,28,2022-12-19
76,1,76,13,2021-11-10
77,1,77,19,2021-10-28
78,1,78,7,2023-01-20
79,1,79,12,2023-02-26
80,1,80,4,2023-03-26
81,1,81,16,2023-05-11
82,1,82,20,2023-06-12
83,1,83,9,2022-11-30
84,1,84,30,2022-12-06
85,1,85,21,2022-05-22
86,1,86,10,2023-02-05
87,1,87,1,2023-03-02
88,1,88,3,2021-12-14
89,1,89,26,2022-07-25
90,1,90,14,2021-08-17
91,1,91,8,2022-03-04
92,1,92,2,2023-04-19
93,1,93,28,2023-05-02
94,1,94,5,2022-01-08
95,1,95,22,2023-09-13
96,1,96,14,2023-01-07
97,1,97,1,2023-01-21
98,1,98,24,2023-04-01
99,1,99,3,2021-11-23
100,1,100,9,2021-06-21
101,1,1,7,2022-11-14
102,1,2,15,2023-03-05
103,1,3,27,2021-03-18
104,1,4,12,2023-02-17
105,1,5,19,2022-10-05
106,1,6,20,2021-12-12
107,1,7,22,2023-04-07
108,1,8,11,2022-05-21
109,1,9,26,2022-09-18
110,1,10,4,2023-06-20
111,1,11,10,2022-01-29
112,1,12,8,2021-05-15
113,1,13,3,2023-01-16
114,1,14,29,2022-12-01
115,1,15,1,2022-08-08
116,1,16,25,2021-09-11
117,1,17,17,2023-05-19
118,1,18,11,2021-11-18
119,1,19,14,2023-02-22
120,1,20,18,2022-10-03
121,1,21,5,2022-04-28
122,1,22,23,2022-07-10
123,1,23,22,2021-08-21
124,1,24,1,2022-09-22
125,1,25,12,2023-05-13
126,1,26,30,2023-01-11
127,1,27,9,2022-06-04
128,1,28,28,2023-03-28
129,1,29,17,2022-11-20
130,1,30,21,2021-10-06
131,1,31,14,2022-10-07
132,1,32,22,2023-06-01
133,1,33,2,2022-12-24
134,1,34,13,2021-08-02
135,1,35,1,2022-04-30
136,1,36,19,2023-04-10
137,1,37,8,2022-10-28
138,1,38,5,2023-02-14
139,1,39,29,2021-07-23
140,1,40,24,2023-08-05
141,1,41,4,2022-03-24
142,1,42,19,2023-06-11
143,1,43,6,2023-08-09
144,1,44,27,2023-01-17
145,1,45,2,2021-10-31
146,2,46,12,2023-03-21
147,2,46,11,2023-03-21
148,2,47,22,2023-03-10
149,1,48,16,2022-06-08
150,1,49,15,2023-04-15
151,1,50,19,2021-11-27
152,2,51,18,2023-01-18
153,1,52,17,2022-12-12
154,2,52,13,2023-02-15
155,1,53,9,2022-12-17
156,1,54,25,2023-06-02
157,1,55,4,2022-03-22
158,1,56,30,2022-10-10
159,1,57,5,2023-02-01
160,1,58,8,2022-01-11
161,2,58,1,2023-03-20
162,2,59,7,2021-09-22
163,1,60,21,2023-05-27
164,1,61,2,2021-12-15
165,1,62,10,2022-11-07
166,1,63,12,2021-02-05
167,1,64,8,2022-08-18
168,1,65,15,2023-06-06
169,1,66,29,2023-05-24
170,1,67,20,2021-06-03
171,1,68,28,2022-06-12
172,1,69,18,2022-10-01
173,1,70,3,2021-08-31
174,1,71,10,2023-03-14
175,1,72,14,2022-12-14
176,1,73,15,2022-12-22
177,1,74,2,2022-09-07
178,1,75,27,2022-05-28
179,1,76,30,2023-02-23
180,1,77,9,2023-07-14
181,1,78,11,2022-04-16
182,1,79,1,2021-07-25
183,1,80,25,2023-04-04
184,1,81,8,2021-12-19
185,1,82,13,2023-05-29
186,1,83,19,2022-06-26
187,1,84,6,2023-01-29
188,1,85,9,2023-02-14
189,1,86,23,2022-08-01
190,1,87,12,2023-01-05
191,1,88,2,2023-05-07
192,1,89,22,2023-05-15
193,1,90,3,2021-03-07
194,1,91,10,2022-02-15
195,1,92,15,2023-03-09
196,1,93,24,2023-06-10
197,1,94,17,2021-11-22
198,1,95,27,2022-11-04
199,1,96,4,2021-08-06
200,1,97,14,2022-08-06
201,1,98,10,2022-03-05
202,1,99,19,2023-01-30
203,1,100,12,2022-05-18
204,2,1,3,2022-06-15
205,2,2,29,2023-02-09
206,2,3,11,2023-05-06
207,2,4,15,2021-10-12
208,2,5,22,2023-05-10
209,2,6,16,2022-07-23
210,2,7,2,2022-04-29
211,2,8,4,2021-05-18
212,2,9,20,2023-02-14
213,2,10,28,2022-11-23
214,2,11,1,2023-03-08
215,2,12,30,2021-12-19
216,2,13,14,2023-05-30
217,2,14,9,2022-12-31
218,2,15,6,2023-08-07
219,2,16,13,2023-02-12
220,2,17,25,2023-06-25
221,2,18,10,2021-03-14
222,2,19,3,2023-01-01
223,2,20,21,2022-05-08
224,2,21,15,2021-07-23
225,2,22,5,2023-06-04
226,2,23,12,2022-11-08
227,2,24,18,2023-02-23
228,2,25,34,2022-12-15
229,2,26,8,2021-04-02
230,2,27,14,2021-11-24
231,2,28,20,2023-02-02
232,2,29,11,2022-06-02
233,2,30,16,2023-05-27
234,2,31,27,2023-03-19
235,2,32,19,2023-01-26
236,2,33,22,2021-07-05
237,2,34,3,2022-04-10
238,2,35,20,2022-03-30
239,2,36,28,2021-06-29
240,2,37,30,2021-05-07
241,2,38,25,2021-04-22
242,2,39,12,2023-08-26
243,2,40,38,2023-05-06
244,2,41,17,2022-12-23
245,2,42,14,2021-11-29
246,2,43,7,2022-06-14
247,2,44,2,2023-07-07
248,2,45,18,2022-09-20
249,2,46,14,2021-04-26
250,2,47,6,2023-05-07
251,2,48,11,2022-08-15
252,2,49,22,2021-12-17
253,2,50,5,2023-09-02
254,2,51,10,2022-10-24
255,2,52,8,2022-10-04
256,2,53,27,2023-04-14
257,2,54,19,2022-09-05
258,2,55,23,2023-03-01
259,2,56,7,2023-06-11
260,2,57,31,2021-07-12
261,2,58,9,2021-11-18
262,2,59,15,2021-03-25
263,2,60,25,2022-12-07
264,2,61,18,2023-07-01
265,2,62,14,2022-04-15
266,2,63,2,2023-04-09
267,2,64,20,2021-08-11
268,2,65,7,2023-05-15
269,2,66,11,2022-11-06
270,2,67,19,2023-06-27
271,2,68,6,2022-02-14
272,2,69,8,2023-05-18
273,2,70,28,2023-04-06
274,2,71,9,2021-10-14
275,2,72,3,2022-03-19
276,2,73,12,2023-01-15
277,2,74,5,2021-07-12
278,2,75,20,2022-06-23
279,2,76,11,2021-11-12
280,2,77,10,2023-08-31
281,2,78,15,2022-05-27
282,2,79,8,2023-09-25
283,2,80,12,2023-06-12
284,2,81,6,2022-10-18
285,2,82,1,2023-01-27
286,2,83,3,2021-09-16
287,2,84,2,2022-11-24
288,2,85,4,2022-11-22
289,2,86,7,2022-05-26
290,2,87,19,2022-03-06
291,2,88,20,2022-06-15
292,2,89,13,2023-01-29
293,2,90,27,2022-07-08
294,2,91,14,2021-04-11
295,2,92,23,2021-05-01
296,2,93,18,2022-09-24
297,2,94,11,2023-06-29
298,2,95,27,2023-08-25
299,2,96,5,2023-02-01
300,2,97,21,2022-05-10
301,2,98,21,2021-10-09
302,2,99,25,2023-05-29
303,3,100,30,2022-11-02
304,3,1,1,2022-12-21
305,3,2,2,2022-05-12
306,3,3,19,2023-01-16
307,3,4,20,2023-07-06
308,3,5,11,2022-11-19
309,3,6,29,2021-10-13
310,3,7,7,2022-02-27
311,3,8,1,2022-06-17
312,3,9,10,2021-10-07
313,3,10,10,2022-05-02
314,3,11,12,2021-11-09
315,3,12,16,2023-05-17
316,3,13,30,2021-08-22
317,3,14,24,2023-03-08
318,3,15,6,2021-04-16
319,3,16,25,2022-01-14
320,3,17,10,2022-03-09
321,3,18,15,2022-11-20
322,3,19,1,2023-06-11
323,3,20,18,2022-03-30
324,3,21,3,2022-01-08
325,3,22,4,2021-11-04
326,3,23,19,2022-09-28
327,3,24,23,2021-05-16
328,3,25,13,2021-06-21
329,3,26,30,2022-09-24
330,3,27,20,2021-01-03
331,3,28,22,2022-07-14
332,3,29,5,2021-01-17
333,3,30,9,2022-05-10
334,4,1,11,2022-05-06
335,4,1,14,2023-01-11
336,4,2,16,2021-09-18
337,4,3,17,2023-04-25
338,4,4,3,2021-06-09
339,4,5,5,2021-05-03
340,4,6,19,2021-05-17
341,4,7,20,2022-10-24
342,4,8,18,2023-03-12
343,4,9,10,2021-03-29
344,4,10,14,2023-02-01
345,4,11,9,2022-06-18
346,4,12,23,2021-04-05
347,4,13,1,2021-08-02
348,4,14,12,2022-11-08
349,4,15,27,2023-03-03
350,4,16,2,2023-05-16
351,4,17,32,2022-02-20
352,4,18,6,2022-07-30
353,4,19,20,2022-06-26
354,4,20,2,2023-07-21
355,4,21,15,2021-05-27
356,4,22,23,2022-07-11
357,4,23,12,2022-01-22
358,4,24,29,2023-04-05
359,4,25,4,2023-03-07
360,4,26,8,2023-02-25
361,4,27,21,2021-11-15
362,4,28,2,2023-07-07
363,4,29,1,2022-05-12
364,4,30,27,2023-05-28
365,5,1,6,2021-11-10
366,5,2,12,2021-12-13
367,5,3,8,2022-02-17
368,5,4,20,2023-07-06
369,5,5,18,2022-12-26
370,5,6,12,2021-10-11
371,5,7,14,2022-06-16
372,5,8,1,2023-04-25
373,5,9,24,2022-03-18
374,5,10,26,2023-02-20
375,5,11,16,2023-07-01
376,5,12,3,2022-09-19
377,5,13,22,2022-06-08
378,5,14,11,2021-07-12
379,5,15,3,2021-05-08
380,6,1,5,2021-08-03
381,6,2,17,2022-04-19
382,6,3,30,2021-12-12
383,6,4,14,2022-11-22
384,6,5,19,2022-09-01
385,6,6,28,2023-04-10
386,6,7,7,2022-05-10
387,6,8,11,2023-01-28
388,6,9,8,2023-05-13
389,6,10,10,2021-10-04
390,6,11,2,2022-02-12
391,6,12,23,2022-01-29
392,6,13,4,2023-08-21
393,6,14,6,2023-01-19
394,6,15,14,2021-08-09
395,6,16,9,2023-05-11
396,6,17,13,2021-11-02
397,6,18,11,2023-02-08
398,6,19,20,2023-07-04
399,6,20,17,2021-02-21
400,6,21,22,2023-03-23
401,7,1,6,2022-06-13
402,7,1,29,2023-06-18
403,7,2,9,2023-03-01
404,7,3,20,2021-12-11
405,7,4,5,2022-02-20
406,7,5,14,2021-11-05
407,7,6,18,2022-07-29
408,7,7,19,2022-03-16
409,7,8,16,2021-02-03
410,7,9,1,2023-03-14
411,7,10,21,2022-11-08
412,7,11,11,2022-05-15
413,7,12,12,2021-03-30
414,7,13,10,2022-06-01
415,7,14,17,2023-05-17
416,7,15,8,2021-08-12
417,7,16,14,2022-04-06
418,7,17,2,2023-04-05
419,7,18,13,2021-10-01
420,7,19,3,2022-09-28
421,7,20,15,2023-07-12
422,7,21,23,2023-03-13
423,7,22,18,2023-04-12
424,7,23,28,2023-01-11
425,8,1,9,2021-01-23
426,8,1,3,2023-03-16
427,8,2,21,2021-05-08
428,8,3,29,2022-10-20
429,8,4,2,2021-03-01
430,8,5,17,2023-05-02
431,8,6,10,2023-06-06
432,8,7,19,2022-09-02
433,8,8,13,2022-11-21
434,8,9,11,2023-07-21
435,8,10,14,2022-12-27
436,8,11,8,2022-04-13
437,8,12,27,2021-12-16
438,8,13,23,2023-02-04
439,8,14,5,2022-09-05
440,8,15,19,2023-06-01
441,8,16,16,2023-03-06
442,8,17,24,2022-02-10
443,9,1,30,2023-02-19
444,9,2,22,2022-06-27
445,9,2,5,2023-07-20
446,9,3,6,2023-04-17
447,9,4,8,2022-04-30
448,9,5,14,2021-05-23
449,9,6,27,2023-08-07
450,9,7,24,2022-10-15
451,9,8,30,2022-05-12
452,9,9,28,2022-03-23
453,9,10,15,2023-07-18
454,9,11,16,2023-01-12
455,9,12,3,2022-11-13
456,9,13,10,2021-06-15
457,9,14,13,2021-09-22
458,9,15,21,2022-12-01
459,9,16,29,2021-02-27
460,9,17,19,2023-08-14
461,9,18,17,2021-01-09
462,9,19,6,2022-01-22
463,9,20,4,2021-11-09
464,9,21,12,2021-10-17
465,9,22,20,2022-03-14
466,9,23,5,2022-01-17
467,9,24,28,2022-07-19
468,9,25,16,2022-01-10
469,9,26,19,2021-08-20
470,9,27,2,2023-01-15
471,9,28,11,2022-09-09
472,9,29,7,2023-05-30
473,9,30,24,2022-11-12
474,10,1,22,2022-10-16
475,10,1,9,2021-05-21
476,10,2,4,2023-02-14
477,10,3,21,2021-01-24
478,10,4,20,2022-06-07
479,10,5,28,2022-08-22
480,10,6,2,2022-07-08
481,10,7,25,2021-12-10
482,10,8,12,2021-09-22
483,10,9,13,2023-02-09
484,10,10,15,2022-11-05
485,10,11,26,2023-05-02
486,10,12,10,2023-07-16
487,10,13,8,2021-03-13
488,10,14,19,2023-03-10
489,10,15,19,2023-03-11
490,10,16,24,2023-01-12
491,10,17,27,2022-07-22
492,10,18,30,2023-02-01
493,10,19,11,2023-05-30
494,10,20,3,2021-12-21
495,10,21,20,2022-11-23
496,10,22,18,2021-03-21
497,10,23,2,2022-09-05
498,10,24,8,2023-08-31
499,10,25,10,2022-11-30
500,10,26,24,2021-10-11
501,11,1,5,2022-01-19
502,11,2,5,2021-09-14
503,11,3,14,2021-12-08
504,11,4,23,2022-07-09
505,11,5,3,2021-02-23
506,11,6,26,2023-04-18
507,11,7,17,2022-05-18
508,11,8,8,2023-05-10
509,11,9,11,2021-03-23
510,11,10,9,2022-12-04
511,11,11,4,2023-09-01
512,11,12,5,2021-04-16
513,11,13,1,2023-01-27
514,11,14,7,2022-10-15
515,11,15,13,2021-08-08
516,11,16,30,2022-08-28
517,11,17,24,2023-06-03
518,11,18,19,2021-05-30
519,11,19,12,2022-01-28
520,11,20,20,2023-03-07
521,11,21,19,2023-02-01
522,11,22,3,2022-04-10
523,11,23,14,2022-02-07
524,11,24,12,2021-11-05
525,11,25,28,2022-12-24
526,11,26,8,2023-04-14
527,12,1,6,2022-05-28
528,12,1,29,2023-03-08
529,12,2,4,2022-06-11
530,12,3,2,2021-01-11
531,12,4,23,2022-03-22
532,12,5,18,2022-02-09
533,12,6,21,2023-06-27
534,12,7,16,2022-10-19
535,12,8,15,2022-11-04
536,12,9,12,2021-03-02
537,12,10,28,2022-01-27
538,12,11,2,2022-09-24
539,12,12,6,2022-01-28
540,12,13,9,2021-09-07
541,12,14,13,2023-04-03
542,12,15,1,2021-10-04
543,12,16,30,2023-07-12
544,12,17,23,2021-08-26
545,12,18,8,2021-10-29
546,12,19,14,2022-06-11
547,12,20,10,2021-07-02
548,12,21,3,2022-07-14
549,12,22,6,2022-04-01
550,12,23,17,2023-04-12
551,12,24,29,2023-02-15
552,12,25,5,2023-07-09
553,12,26,17,2021-05-02
554,12,27,19,2023-06-17
555,12,28,22,2021-12-03
556,12,29,24,2022-06-28
557,12,30,9,2021-12-30
558,13,1,5,2021-11-27
559,13,1,24,2023-02-15
560,13,2,8,2021-07-14
561,13,3,2,2021-02-07
562,13,4,26,2023-01-16
563,13,5,14,2021-09-09
564,13,6,11,2021-01-26
565,13,7,25,2022-05-01
566,13,8,30,2021-06-18
567,13,9,12,2022-04-18
568,13,10,14,2022-09-04
569,13,11,5,2021-10-11
570,13,12,19,2022-06-09
571,13,13,8,2021-07-28
572,13,14,20,2021-06-25
573,13,15,30,2022-11-06
574,13,16,13,2022-03-15
575,13,17,18,2021-04-22
576,13,18,17,2023-02-04
577,13,19,28,2021-06-09
578,13,20,5,2022-08-02
579,13,21,7,2021-12-05
580,13,22,2,2021-09-17
581,13,23,21,2022-07-19
582,13,24,4,2021-11-11
583,13,25,20,2023-04-05
584,13,26,30,2023-06-20
585,13,27,22,2022-02-11
586,13,28,16,2021-02-20
587,13,29,13,2021-12-01
588,13,30,17,2022-02-14
589,14,1,5,2022-03-29
590,14,1,27,2023-07-30
591,14,2,8,2021-12-20
592,14,3,14,2021-09-11
593,14,4,20,2021-08-14
594,14,5,1,2021-04-15
595,14,6,29,2022-04-14
596,14,7,12,2023-01-02
597,14,8,13,2023-04-01
598,14,9,20,2021-07-09
599,14,10,11,2021-02-22
600,14,11,3,2022-03-21
601,14,12,4,2023-05-24
602,14,13,16,2021-10-15
603,14,14,6,2021-09-04
604,14,15,7,2023-09-26
605,14,16,15,2021-03-04
606,14,17,10,2022-12-01
607,14,18,3,2022-04-03
608,14,19,8,2022-11-29
609,14,20,1,2023-06-11
610,14,21,30,2023-03-01
611,14,22,24,2022-07-22
612,14,23,14,2021-12-21
613,14,24,9,2021-04-07
614,14,25,5,2022-01-05
615,14,26,21,2022-12-05
616,14,27,20,2021-01-18
617,14,28,26,2022-07-24
618,14,29,25,2021-02-05
619,14,30,12,2021-02-21
620,15,1,2,2021-03-07
621,15,1,19,2023-04-07
622,15,2,1,2023-11-15
623,15,3,14,2022-04-19
624,15,4,13,2022-11-23
625,15,5,20,2022-04-02
626,15,6,24,2022-04-23
627,15,7,17,2021-09-05
628,15,8,9,2022-01-24
629,15,9,27,2022-10-27
630,15,10,14,2023-06-12
631,15,11,21,2021-05-10
632,15,12,18,2021-06-03
633,15,13,19,2023-02-23
634,15,14,16,2021-08-14
635,15,15,11,2022-12-30
636,16,1,6,2023-03-02
637,16,1,18,2021-08-02
638,16,2,30,2022-02-22
639,16,3,19,2022-05-04
640,16,4,29,2022-09-12
641,16,5,1,2023-01-15
642,16,6,18,2021-03-05
643,16,7,25,2023-04-14
644,16,8,19,2022-05-09
645,16,9,20,2021-11-13
646,16,10,8,2021-01-22
647,16,11,9,2023-05-26
648,16,12,13,2023-08-19
649,16,13,4,2022-11-25
650,16,14,10,2023-06-08
651,16,15,7,2022-12-19
652,16,16,11,2021-05-18
653,16,17,21,2022-09-10
654,16,18,30,2022-03-20
655,16,19,16,2022-06-01
656,17,1,3,2023-08-23
657,17,1,23,2023-04-13
658,17,2,4,2023-02-07
659,17,3,1,2021-03-21
660,17,4,2,2021-09-25
661,17,5,10,2022-09-15
662,17,6,17,2022-07-14
663,17,7,1,2022-06-12
664,17,8,8,2021-10-15
665,17,9,29,2023-01-15
666,17,10,25,2022-10-26
667,17,11,18,2023-02-02
668,17,12,2,2021-02-06
669,17,13,4,2021-09-12
670,17,14,22,2021-11-03
671,17,15,9,2022-03-25
672,17,16,30,2023-06-21
673,17,17,11,2023-07-22
674,17,18,24,2023-02-10
675,17,19,15,2022-11-01
676,17,20,28,2022-01-18
677,17,21,10,2023-09-09
678,17,22,13,2021-11-07
679,17,23,7,2022-06-15
680,17,24,21,2022-07-22
681,17,25,9,2022-02-11
682,17,26,19,2021-12-14
683,17,27,21,2023-07-01
684,17,28,3,2023-03-29
685,17,29,4,2021-07-21
686,18,1,15,2021-04-03
687,18,1,25,2023-06-15
688,18,2,5,2023-04-13
689,18,3,29,2022-04-22
690,18,4,23,2021-03-28
691,18,5,15,2021-06-14
692,18,6,12,2021-10-02
693,18,7,10,2022-01-15
694,18,8,9,2022-03-03
695,18,9,23,2022-08-02
696,18,10,19,2022-05-22
697,18,11,7,2021-11-01
698,18,12,6,2021-06-25
699,18,13,1,2022-10-11
700,18,14,27,2021-10-20
701,18,15,16,2022-07-14
702,18,16,28,2023-05-29
703,18,17,12,2023-01-05
704,18,18,18,2023-03-17
705,18,19,26,2022-05-11
706,18,20,29,2022-08-17
707,18,21,2,2022-03-06
708,18,22,11,2021-07-16
709,18,23,30,2021-09-28
710,18,24,2,2023-09-11
711,18,25,21,2022-06-22
712,18,26,9,2021-07-30
713,18,27,4,2022-12-07
714,18,28,15,2023-05-05
715,18,29,3,2021-09-14
716,18,30,6,2022-01-10
717,19,1,21,2023-07-12
718,19,2,12,2021-01-31
719,19,3,34,2022-01-06
720,19,4,13,2023-06-18
721,19,5,5,2021-07-09
722,19,6,18,2021-03-12
723,19,7,9,2022-01-11
724,19,8,19,2023-08-02
725,19,9,14,2023-04-07
726,19,10,17,2022-05-13
727,19,11,10,2021-10-15
728,19,12,29,2021-06-20
729,19,13,1,2021-08-04
730,19,14,20,2023-05-25
731,19,15,17,2021-12-04
732,19,16,24,2022-07-03
733,19,17,32,2023-01-07
734,19,18,22,2021-03-22
735,19,19,8,2023-06-21
736,19,20,12,2023-04-04
737,19,21,6,2023-09-12
738,19,22,2,2022-10-08
739,19,23,5,2023-01-28
740,19,24,15,2022-12-15
741,19,25,31,2021-10-30
742,19,26,28,2022-02-01
743,19,27,29,2023-06-26
744,19,28,3,2021-05-11
745,19,29,16,2022-05-01
746,20,1,7,2021-04-22
747,20,1,15,2022-05-20
748,20,2,18,2021-01-25
749,20,3,19,2022-10-01
750,20,4,13,2023-04-09
751,20,5,8,2022-08-02
752,20,6,10,2022-01-26
753,20,7,16,2022-12-03
754,20,8,14,2023-02-12
755,20,9,22,2022-11-24
756,20,10,4,2022-06-03
757,20,11,27,2023-06-22
758,20,12,15,2022-10-19
759,20,13,12,2021-10-14
760,20,14,11,2022-01-20
761,20,15,14,2022-11-19
762,20,16,3,2023-09-11
763,20,17,30,2022-01-27
764,20,18,5,2023-03-29
765,20,19,6,2021-08-12
766,20,20,1,2023-05-30
767,20,21,20,2023-01-09
768,20,22,18,2021-10-13
769,20,23,30,2022-07-28
770,20,24,5,2022-11-11
771,20,25,11,2023-05-02
772,20,26,7,2021-05-19
773,20,27,25,2022-12-03
774,20,28,16,2021-11-08
775,20,29,4,2022-08-06
776,20,30,9,2023-04-21
777,20,31,22,2023-06-21
778,20,32,26,2021-09-15
779,20,33,28,2021-05-24
780,20,34,18,2022-03-10
781,20,35,31,2021-11-01
782,20,36,19,2021-07-16
783,20,37,6,2021-07-02
784,20,38,8,2023-04-28
785,20,39,12,2022-10-22
786,20,40,3,2022-10-19
787,20,41,21,2023-01-24
788,20,42,21,2021-08-07
789,20,43,25,2023-03-23
790,20,44,16,2022-05-17
791,20,45,11,2021-02-24
792,20,46,15,2022-07-29
793,20,47,30,2021-10-30
794,20,48,10,2022-01-25
795,20,49,24,2023-01-06
796,20,50,1,2021-06-03
797,20,51,20,2022-09-07
798,20,52,2,2023-03-04
799,20,53,21,2023-07-14
800,20,54,27,2023-07-26
801,20,55,8,2022-03-14
802,20,56,20,2022-07-28
803,20,57,15,2021-12-11
804,20,58,9,2022-05-12
805,20,59,4,2021-06-12
806,20,60,6,2022-02-14
807,20,61,30,2022-05-11
808,20,62,10,2022-11-03
809,20,63,3,2022-08-09
810,20,64,1,2021-04-06
811,20,65,23,2022-09-17
812,20,66,15,2022-05-21
813,20,67,12,2022-09-24
814,20,68,11,2023-07-13
815,20,69,30,2023-01-18
816,20,70,20,2021-01-02
817,20,71,4,2023-03-07
818,20,72,6,2022-06-09
819,20,73,9,2023-06-21
820,20,74,5,2023-06-16
821,20,75,10,2023-03-14
822,20,76,8,2022-12-19
823,20,77,3,2021-03-16
824,20,78,14,2022-11-06
825,20,79,7,2023-05-17
826,20,80,19,2022-02-10
827,20,81,24,2022-01-25
828,20,82,28,2023-07-12
829,20,83,4,2022-05-24
830,20,84,3,2021-02-03
831,20,85,1,2021-11-18
832,20,86,6,2023-04-21
833,20,87,5,2023-01-01
834,20,88,8,2021-01-15
835,20,89,12,2023-05-14
836,20,90,3,2021-02-06
837,21,1,17,2022-03-10
838,21,1,30,2022-01-30
839,21,2,7,2022-11-12
840,21,3,2,2021-11-27
841,21,4,3,2021-05-21
842,21,5,24,2021-12-14
843,21,6,18,2023-01-01
844,21,7,14,2023-04-22
845,21,8,4,2021-06-19
846,21,9,19,2021-02-16
847,21,10,6,2021-08-20
848,21,11,9,2023-03-22
849,21,12,26,2023-02-11
850,21,13,4,2021-07-04
851,21,14,12,2022-03-25
852,21,15,28,2023-08-27
853,21,16,31,2022-04-21
854,22,1,2,2022-03-29
855,22,1,5,2021-10-09
856,22,2,3,2022-08-24
857,22,3,15,2023-01-12
858,22,4,40,2022-12-04
859,22,5,22,2022-03-14
860,22,6,25,2023-06-13
861,22,7,18,2021-06-10
862,22,8,8,2023-03-16
863,22,9,12,2021-08-06
864,22,10,21,2022-07-19
865,22,11,3,2021-06-05
866,22,12,14,2022-02-13
867,22,13,27,2021-03-28
868,22,14,1,2023-01-14

In [75]:
df = parse_llm_csv_response(response)
print(f"Number of rows: {len(df.index)}")
df.head(5)

Number of rows: 1086

   order_id  order_seq_nbr  customer_id  product_id  order_date
0         1              1            1           3  2021-10-12
1         1              2            1           9  2021-10-12
2         2              1            2           1  2021-11-22
3         3              1            3          24  2021-12-05
4         4              1            4           6  2021-09-15

In [76]:
df.to_csv("../data/orders2.csv", index=False)

In [77]:
# Load the two orders datasets
orders1 = pd.read_csv("../data/orders.csv")
orders2 = pd.read_csv("../data/orders2.csv")

# Concatenate the two DataFrames
merged_orders = pd.concat([orders1, orders2], ignore_index=True)

# Replace order_id with a new unique key (sequential starting from 1)
merged_orders = merged_orders.drop(columns=['order_id'])
merged_orders.insert(0, 'order_id', range(1, len(merged_orders) + 1))

# Save the merged DataFrame to a new CSV file
merged_orders.to_csv("../data/orders_merged.csv", index=False)

# Optionally, display the first few rows
merged_orders.head()

   order_id  order_seq_nbr  customer_id  product_id  order_date
0         1              1            1           1  2021-10-15
1         2              1            1           3  2021-10-15
2         3              1            2           2  2021-10-16
3         4              1            2           4  2021-10-16
4         5              1            3           5  2021-10-17

In [78]:
merged_orders.to_csv("../data/orders.csv", index=False)